**/anaconda3
**/Downloads
*.h5
*.gz
*.pickle
**/__pycache__
awdEvents0
*.dat
*.rand_dat
*.Xauthority
*.astropy/
*.bash_history
*.bash_logout
*.bashrc
*.bashrc-anaconda3.bak
*.cache/
*.conda/
*.config/
*.dbus/
*.gitconfig
*.hdfview2.14
*.ipynb_checkpoints/
*.ipython/
*.java/
*.julia_history
*.jupyter/
*.keras/
*.local/
*.matlab/
*.mozilla/
*.pki/
*.profile
*.python_history
*.ssh/
*.subversion/
